@import url('../css/Global.css');


.customerSayContainer {
    max-height: 845px;
    height: 100%;
    padding-top: 63px;
    display: flex;
}

.customerReviewSection {
    background-color: var(--primary-royal-blue);
}

.customerImageSection, .customerReviewSection {
    width: 50%;
}

.customerImageSection img {
    width: 100%;
    height: 100%;
}