.fixedComponent {
    background: #000;
    height: 40px;
}

.fixedComponent p {
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}