/* src/global.css */
:root {
    --suissecond-int-thin: 'SuisseIntlCond-Thin-WebS';
    --suissecond-int-light: 'SuisseIntlCond-Light-WebS';
    --suissecond-int-normal: 'SuisseIntlCond-Regular-WebS';
    --suissecond-int-medium: 'SuisseIntlCond-Medium-WebS';
    --suissecond-int-bold: 'SuisseIntlCond-Bold-WebS';

    --suisse-screen-thin: 'SuisseScreen-Thin-WebS';
    --suisse-screen-light: 'SuisseScreen-Light-WebS';
    --suisse-screen-normal: 'SuisseScreen-Regular';
    --suisse-screen-monitor: 'SuisseScreen-Monitor-WebS';

    --suisse-int-thin: 'SuisseIntl-Thin-WebS';
    --suisse-int-light: 'SuisseIntl-Light-WebS';
    --suisse-int-ultralight: 'SuisseIntl-Ultralight-WebS';
    --suisse-int-normal: 'SuisseInt-Regular-WebS';
    --suisse-int-medium: 'SuisseIntl-Medium-WebS';
    --suisse-int-semibold: 'SuisseIntl-SemiBold-WebS';
    --suisse-int-bold: 'SuisseIntl-Bold-WebS';

    --suisse-works-italicbold: 'SuisseWorks-BoldItalic-WebS';
    --suisse-works-bold: 'SuisseWorks-Bold-WebS';
    --suisse-works-bookitalic: 'SuisseWorks-BookItalic-WebS';
    --suisse-works-book: 'SuisseWorks-Book-WebS';
    --suisse-works-mediumitalic: 'SuisseWorks-MediumItalic-WebS';
    --suisse-works-medium: 'SuisseWorks-Medium-WebS';
    --suisse-works-regularitalic: 'SuisseWorks-RegularItalic-WebS';
    --suisse-works-regular: 'SuisseWorks-Regular-WebS';

    --primary-green: #0aab65;
    --primary-white: #ffffff;
    --secondary-white: #f0efee;
    --primary-black: #04253c;
    --primary-text-black-color: #04253C;
    --secondary-black: #021c22;
    --default-black: #000000;
    --default-gray: #6e6e6e;
    --primary-gray: #858585;
    --secondary-gray: #929292;
    --primary-navy-blue: #22315d;
    --primary-royal-blue: #04253C;
    --Light-Grey-100: #E6F6EF;

    --mobile-ratio: 4/5;
    --desktop-ratio: 4/5;
}

@font-face {
    font-family: 'SuisseIntlCond-Thin-WebS';
    src: url('../../asset/fonts/SuisseIntlCond-Thin-WebS.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntlCond-Light-WebS';
    src: url('../../asset/fonts/SuisseIntlCond-Light-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntlCond-Regular-WebS';
    src: url('../../asset/fonts/SuisseIntlCond-Regular-WebS.woff') format('woff');
    src: url('../../asset/fonts/SuisseIntlCond-Regular-WebS.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntlCond-Medium-WebS';
    src: url('../../asset/fonts/SuisseNeue-Medium.woff') format('woff');
    src: url('../../asset/fonts/SuisseNeue-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntlCond-Bold-WebS';
    src: url('../../asset/fonts/SuisseIntlCond-Bold-WebS.woff') format('woff');
    src: url('../../asset/fonts/SuisseIntlCond-Bold-WebS.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseScreen-Thin-WebS';
    src: url('../../asset/fonts/SuisseScreen-Thin-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseScreen-Light-WebS';
    src: url('../../asset/fonts/SuisseScreen-Light-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseScreen-Regular';
    src: url('../../asset/fonts/SuisseScreen-Regular.woff') format('woff');
    src: url('../../asset/fonts/SuisseScreen-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseScreen-Monitor-WebS';
    src: url('../../asset/fonts/SuisseScreen-Monitor-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Thin-WebS';
    src: url('../../asset/fonts/SuisseIntl-Thin-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Light-WebS';
    src: url('../../asset/fonts/SuisseIntl-Light-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Ultralight-WebS';
    src: url('../../asset/fonts/SuisseIntl-Ultralight-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseInt-Regular-WebS';
    src: url('../../asset/fonts/SuisseIntl-Regular-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Medium-WebS';
    src: url('../../asset/fonts/SuisseIntl-Medium-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-SemiBold-WebS';
    src: url('../../asset/fonts/SuisseIntl-SemiBold-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Bold-WebS';
    src: url('../../asset/fonts/SuisseIntl-Bold-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseNeue-Light-WebS';
    src: url('../../asset/fonts/SuisseNeue-Light-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseNeue-Regular-WebS';
    src: url('../../asset/fonts/SuisseNeue-Regular-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseNeue-Medium';
    src: url('../../asset/fonts/SuisseNeue-Medium.woff') format('woff');
    src: url('../../asset/fonts/SuisseNeue-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntlMono-Thin-WebS';
    src: url('../../asset/fonts/SuisseIntlMono-Thin-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntlMono-Regular-WebS';
    src: url('../../asset/fonts/SuisseIntlMono-Regular-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntlMono-Bold-WebS';
    src: url('../../asset/fonts/SuisseIntlMono-Bold-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Book-WebS';
    src: url('../../asset/fonts/SuisseIntl-Book-WebS.woff') format('woff');
    font-display: swap;
}



@font-face {
    font-family: 'SuisseWorks-BoldItalic-WebS';
    src: url('../../asset/fonts/SuisseWorks-BoldItalic-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseWorks-Bold-WebS';
    src: url('../../asset/fonts/SuisseWorks-Bold-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseWorks-BookItalic-WebS';
    src: url('../../asset/fonts/SuisseWorks-BookItalic-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseWorks-Book-WebS';
    src: url('../../asset/fonts/SuisseWorks-Book-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseWorks-MediumItalic-WebS';
    src: url('../../asset/fonts/SuisseWorks-MediumItalic-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseWorks-Medium-WebS';
    src: url('../../asset/fonts/SuisseWorks-Medium-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseWorks-RegularItalic-WebS';
    src: url('../../asset/fonts/SuisseWorks-RegularItalic-WebS.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SuisseWorks-Regular-WebS';
    src: url('../../asset/fonts/SuisseWorks-Regular-WebS.woff') format('woff');
    font-display: swap;
}
