.ourApproachTittle {
    background: rgba(10, 171, 101, 0.102);
    padding: 44px 0;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.ourApproachHeading {
    font-size: 44px;
    font-weight: 100;
    line-height: 55px;
    font-family: var(--suisse-works-regular);
}

.ourApproachDescription{
    max-width: 45%;
    margin: 0 auto !important;
}

.ourApproachDescription p {
    font-weight: 300;
    color: var(--default-black);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    line-height: 45px;
}

p{
    font-size: 20px;
    line-height: 40px;
}

.SustainableImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 209px 0;
    margin-bottom: 45px;
    background-image: url('../../asset/images/sustainable-source.jpg');
}

.SustainableContent, .ReducingContent {
    display: flex;
    margin-bottom: 50px;
}

.SustainableTitle, .SustainableText, .ReducingTitle, .ReducingText {
    width: 50%;
    font-size: 20px;
    margin: 0 15px !important;
    line-height: 40px;
    text-align: left;
}

.SustainableTitleText, .ReducingTitleText {
    font-weight: 600;
    max-width: 600px;
}

.SustainableText {
    max-width: 600px;
}